body {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	  margin-top: 10px;
	  font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-family: fantasy;
	  font-size: 30px;
    font-weight: 100;
    color: #09232b;
    line-height: 20px;
}

img { max-width: 100%; }

.table

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.bungkus-kepala{
    position: fixed;
    width: 100%;
    text-align: left;
}

/*===== BOX ANTRIAN =====*/
#wrap-antrian {
    width: 100%;
    height: auto;
    align-content: center;
	padding: 40px 20px 20px 20px;
	background: #eee;    
}
.box-antrian span{  
    box-shadow: 2px 2px 2px #000;
    background-color: #bdc3c7;
    border: 1px solid #d1d0e3;
    border-radius: 2em / 10em;
    padding: 10px;
    font-size: 2.5em;
}
.loket{
    font-size: 45px;
    font-weight: bold;
    font-family: Cursiva;
    text-align:center;
    background-color: #ff5300;    
    height: 57px;    
}
.nomerantri{
    width:100%;
    text-align:center;
    font-size: 5em;
    color: #000;
}
.pemisah{
    border-color: #fff #fff #fff;
    padding-bottom: 5px;
}
/*===== AKHIR BOX ANTRIAN =====*/


/* ===== TOMBOL AMBIL NOMER ===== */
.ambil {
  perspective: 800px;
  overflow: visible;
  border: none;
  background: transparent;
  margin: 0 auto;
}
.ambil span {
  display: block;
  width: 170px;
  height: 170px;
  position: relative;
  background-color: #BE2026;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
  border-radius: 50%;
}
.ambil span:before{
  background-color: #BE2026;
}
.ambil span:before,
.ambil span:after {
  line-height: 30px;;
  font-size: 30px;
  white-space: pre-wrap;
  content: "\A AMBIL NOMOR ANTRIAN";
  background: transparent;
}
.ambil span:after {
  box-shadow: inset 0 5px #1b2179;
  background-color: #2a308b;
}
.ambil span:after {
  position:absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left:0;
  top:0;
  transform: rotateX(370deg);
  transform-origin: 0 0;
  transition: transform 0.7s;
}
.ambil:hover span:after{
  transform: rotateX(0);
}
/* ===== AKHIR TOMBOL AMBIL NOMER ===== */


/* ===== BOX JAM ===== */
.form-jam {
  align-content: center;
	padding: 45px 25px 25px 25px;
	background: #eee;
	-moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px;
	text-align: right;
}
.hari {
  width: 190px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  background-color: #bdc3c7;
  border: 1px solid #9391ba;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  font-size: 3.5em;
}
.jam {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  background-color: #bdc3c7;
  border: 1px solid #9391ba;
  border-radius: 5px;
  padding: 10px 10px 10px;
  text-align: right;
  font-size: 3em;
  margin-left: 40px;
}
/* ===== AKHIR BOX JAM ===== */

#fixed {
      position: fixed;
}
.tengah {
     margin: auto;
     position: absolute;
     padding-right: 410px;
     top: 0; left: 0; bottom: 0; right: 0;
}

.inner-bg {
    padding: 5px 0 80px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box-kiri {
	padding-top: 125px;
	width: 780px;
}
.form-box-kanan {
	padding-top: 10px;
	width: 880px;
}

.form-top {
	overflow: hidden;
	padding: 0 20px 5px 20px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
  margin-top: 24px;
}

.form-top-right {
	float: right;
	width: 25%;
	font-size: 60px;
	color: #ddd;
	text-align: right;
  margin-top: 10px;
}

.form-header{
  padding-right: 25px;
  padding-left: 25px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #848ea8;
  font-size: 25px;
  font-family: "Cursiva";
}
.form-header .right{
  padding-left: 10.5em;
}

.space{padding: 8px;}

.form-content {
	padding: 25px 25px 25px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-content form textarea {
	height: 10px;
}

.form-content form button.btn {
	width: 100%;
}

.form-content form .input-error {
	border-color: #19b9e7;
}

.form-info {
  padding: 0 25px 25px 25px;
  height: inherit;
  background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.logo{
  height: 100px;
  margin-top: 10px;
  background: url(../img/backgrounds/ipb.png);
  background-size: 100px;
  background-repeat: no-repeat;
}
#nama{
  width: 45%;
  padding-top: 15px;
  padding-left: 15px;

}

    .nama{
      text-align: left;
      font-family: Arial;
      font-weight: 600;
      line-height: 1;
      color: #fff;
      letter-spacing: 1px;
      line-height: 42px;
    }
    .nama .n1{
      font-size: 50px;
    }
    .nama .n2{
      font-size: 40px;
    }

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #555;
}

.social-login-buttons {
	margin-top: 25px;
}

.middle-border {
	min-height: 600px;
	margin-top: 170px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}

/***** Footer *****/

footer {
	padding-bottom: 70px;
	color: #fff;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
	color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0;
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }
}

@media (max-width: 415px) {
	h1, h2 { font-size: 32px; }
}